# App
SECRET_KEY=change-me
JWT_ISSUER=Hanphone
JWT_AUDIENCE=Friends
INTERNAL_PATH=/www/server_atlas/atlas/
EXTERN_PATH=https://hanphone.top/storage/atlas

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=atlas
DB_USER=root
DB_PASSWORD=

# SMTP
SMTP_SERVER=smtp.163.com
SMTP_PORT=587
SMTP_USERNAME=your_email@example.com
SMTP_PASSWORD=your_smtp_password
SMTP_FROM_EMAIL=your_email@example.com
SMTP_FROM_NAME=Hanphone
